body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body h1,
p {
    color: white;
}

body button {
    cursor: pointer;
    width: 15%;
    height: 50px;
    border-radius: 20px;
    font-size: 15px;
}
